#contenido{
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    border-radius: 10px;
}

#imagen{
    width: 190px;
    height:190px;
    margin-left: 20px;
    border-radius: 10px;
    border-width: 3px;
    position:relative;
}

header{
    background-color: #065cba;
    background-size: cover;
    text-align: center;
    margin: 0px;
    font-size: 30px;
    padding: 4px;
    border-radius: 10px;
}

body{
    padding: 0px;
    margin: 0 auto;
}


body{
    background-color: #6f91b4;
    background-size: cover;
    margin: 20px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

h2{
    color: white;
    text-align: center;
}

#parrafo{
    color: white;
    text-align: justify;
    font-size: 24px;
    margin: 40px;
}

.enlaces{
    display: inline;
    font-size: 20px;
    margin: 10px;
    width: 100%;
}

nav{
    background-color:#e37b16;
    padding: 13px;
}

a{
    color: white;
    text-decoration: none;
}

 .enlaces:hover{
    color:#dea773;
    text-decoration: unset;
    /*content: '';
    height: 4px;
    width: 0;
    background: #2f00ff;
   
    left: 0;
    bottom: -5px;
    transition: 0.5s;*/
}

/*.enlaces ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}*/



.contenedor{
    max-width: 1300px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carta{
    width: 8cm;
    height: 15cm;
    margin: 10px;
    transition: all 300ms;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
}

.carta img{
    width: 8cm;
    height: 4.86cm;
    border-radius: 8px;
}

.contenedor:hover .carta:not(:hover){
    opacity: 0.3;
}

#talleres{
    background-color: rgba(255,255,255,0.5);
    padding: 2px;
    margin: 4px;
    margin-top: 20px;
    border-radius: 10px;
}

#tittll{
    color: #000000;
}

.boton{
    padding: 10px;
    background-color: #065cba;
    text-align: center;
    position: relative;
    overflow: hidden;
    align-self: center;
}

.nombre_taller{
    text-align: center;
}

.card_footer{
    padding: 2px;
    margin-bottom: 2px;
    position: relative;
    text-align: center;
}







